 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
        <p>For front-end development, I use JavaScript with AngularJS or jQuery and have experience in mobile app development. </p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <p>I like to work with JAVA. I have experince with Oracle, MySQL and PL/SQL. Studying PHP(Laravel) currently.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <p>My daily friends are git(SVN in work). I have experience with linux as well as the Atlassian software development tools.</p>
    </div>
</div>
