 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-vuejs-plain colored"></i>
      <p>For front-end development, I use JavaScript with jQuery, Angular JS or Vue.js.</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <p>Not only am I familiar with Oracle and PostgreSQL, I am currently mastering PHP.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <img alt="Atlassian" src="{{ "/assets/img/atlassian_logo.png" | prepend: site.baseurl }}" id="atlassian" />
      <p>Git is where I spend most of my time daily. I am adept at the Atlassian software tools. </p>
    </div>
</div>
