<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!--first project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="agreement" src="{{ "/assets/img/img_agreement.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Agreement Management System </h3>
    <ul>
      <li>03/2017 - 07/2017</li>
    </ul>
    <p>
      I was involved in the developmental process of an Agreement Management System for Culture and Art Complex in the United States.
      The program provides signature tools, customer relationship management system, and printing service via wifi.
    </p>
  </div>
</div>
<!--second project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="CRM" src="{{ "/assets/img/img_CRM.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CRM Program for mobile carrier </h3>
    <ul>
      <li>08/2017 - 11/2017</li>
    </ul>
    <p>
      I was one of the leading members for developing CRM program of a mobile carrier.
      In this project, my job was to connect CRM program with an external application via Cordova.
    </p>
  </div>
</div>
<!--third project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="location" src="{{ "/assets/img/img_location.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Location-Based Service </h3>
    <ul>
      <li>12/2017 - 02/2018</li>
    </ul>
    <p>
      A full-Linux based project, in which I reconstructed a location-based service from the scratch.
      I led the Java engine for the project.
    </p>
  </div>
</div>
<!--fourth project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="POS" src="{{ "/assets/img/img_POS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> POS System </h3>
    <ul>
      <li>03/2018 - present</li>
    </ul>
    <p>
      I am currently developing POS system for a client.
      This project is a full stack project with VB.NET, Java, PL/SQL.
      With the cooperation of other members of the team, the project has been a great opportunity for me to be a step closer to be a top developer in the industry.
    </p>
  </div>
</div>
<!--Personal project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="Laravel" style="border:1px solid black" src="{{ "/assets/img/img_laravel.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Todo List by Laravel </h3>
    <ul>
      <li>Personal Project</li>
    </ul>
    <p>
      Framework version : Laravel 5.6 <br/>
      PHP : 7.1 <br>
      Server : Nginx <br>
      Environment : Amazon Web Services (Ubuntu) <br>
    </p>
      <a target="_blank" class="project-link" href="http://52.198.203.202/">Check it out</a>
  </div>
</div>
