<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!--first project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="agreement" src="{{ "/assets/img/img_agreement.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Agreement Management System </h3>
    <ul>
      <li>03/2017 - 07/2017</li>
    </ul>
    <p>
      I made an Agreement Management System for Kid's zone.
      It provides signature tools, printing service via wifi printer as well as customer relationship management.
    </p>
  </div>
</div>
<!--second project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="CRM" src="{{ "/assets/img/img_CRM.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CRM Program for mobile carrier </h3>
    <ul>
      <li>08/2017 - 11/2017</li>
    </ul>
    <p>
      I joined CRM program for mobile carrier.
      In this project, I took charge of front-end with AngularJS.
      My main work was connecting CRM program with external application via Cordova.
    </p>
  </div>
</div>
<!--third project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="location" src="{{ "/assets/img/img_location.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Location Based Service </h3>
    <ul>
      <li>12/2017 - 02/2018</li>
    </ul>
    <p>
      I reconstructed location based service.
      This project was full-linux based project, so I could get a chance to work with linux.
      I took charge of JAVA engine in this project.
    </p>
  </div>
</div>
<!--fourth project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="POS" src="{{ "/assets/img/img_POS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> POS system </h3>
    <ul>
      <li>03/2018 - present</li>
    </ul>
    <p>
      I am developing POS system.

    </p>
  </div>
</div>
