<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!--first project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="agreement" src="{{ "/assets/img/img_agreement.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Agreement Management System </h3>
    <ul>
      <li>03/2017 - 07/2017</li>
    </ul>
    <p>
      Agreement Management System for Culture and Art Complex in the United States.
      The program provides signature tools, customer relationship management system, and printing service via wifi.
    </p>
  </div>
</div>
<!--second project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="CRM" src="{{ "/assets/img/img_CRM.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CRM Program for mobile carrier </h3>
    <ul>
      <li>08/2017 - 11/2017</li>
    </ul>
    <p>
      Connecting CRM program with an external application using Cordova
    </p>
  </div>
</div>
<!--third project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="location" src="{{ "/assets/img/img_location.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Location-Based Service </h3>
    <ul>
      <li>12/2017 - 02/2018</li>
    </ul>
    <p>
      A full- Linux based project – reconstruction of a location-based service from the scratch using Java engine.
    </p>
  </div>
</div>
<!--fourth project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="POS" src="{{ "/assets/img/img_POS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> POS System </h3>
    <ul>
      <li>03/2018 - 12/2018</li>
    </ul>
    <p>
      A full stack project of developing a POS system for a client using VB.NET, Java, PL/SQL
    </p>
  </div>
</div>
<!--4th project-->
<div class="user-projects">
  <div class="images-right">
    <img alt="Metaps Payment" style="border:2px solid RGB(26,34,44)" src="{{ "/assets/img/img_payment.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Payment Services </h3>
    <ul>
      <li>01/2019 - Present</li>
    </ul>
    <p>
      An on-going project of developing payment services from Metaps Payment
    </p>
  </div>
</div>
<!--5th project-->
<div class="user-projects">
  <div class="images-left">
    <img alt="rent" src="{{ "/assets/img/img_rent.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Payment & Management Service for tenants and real estate company</h3>
    <ul>
      <li>04/2019 - Present</li>
    </ul>
    <p>
      An on-going project of planning and designing a payment & management system for a real estate company and tenants
    </p>
  </div>
</div>
